body {
    overflow-x: hidden;
}
.container {
    padding: 10px;
}
.header{
    background-color: brown;
    padding: 10px;
    margin-left: 8px;
}
.header, h1{
    color: #ffffff;
    text-align:center ;
}
.footer {
    list-style-type: none;
    background-color: #fefefe;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}
.socials {
    text-align: center;
    color: white;
    text-decoration: none;

}
/* .contacts{  
    color: white;
    text-decoration: none;
} */